.main-img2{
  width: 30rem;
}

.d-info{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.first-p{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  border: 1px solid;
  border-radius: 18px;
  border-color: rgb(var(--body-color-dark2));
  transition: 0.5s;
}

.h1{
  margin-bottom: 40px;
}

.sec-p{
  padding: 20px;
  width: 500px;
  border: 1px solid;
  border-radius: 18px;
  border-color: rgb(var(--body-color-dark2));
  transition: 0.5s;
}

@media (max-width: 905px){
  .d-info{
    display: block;
  }

  .first-p{
    margin-top: 30px;
  }

  .first-p, .sec-p{
    margin-left: 0;
    margin-right: 0;
    width: initial;
  }
}

.first-p:hover, .sec-p:hover{
  border-color: white;
  transition: 0.7s;
}

.prof img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border:1px solid;
  border-color: rgb(var(--body-color-dark2));
  margin-bottom: 10px;
}

.prof img:hover{
  border-color: white;
  width: 220px;
  height: 220px;
}