.main-img2{
  width: 30rem;
}

.my-info{
 background-color: aqua;
}

.d-info{
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.first-p{
  padding: 20px;
  width: 500px;
  border: 1px solid;
  border-radius: 18px;
  border-color: rgb(var(--body-color-dark2));
}

.h1{
  margin-bottom: 40px;
}

.sec-p{
  padding: 20px;
  width: 500px;
  border: 1px solid;
  border-radius: 18px;
  border-color: rgb(var(--body-color-dark2));
}

@media (max-width: 905px){
  .d-info{
    display: block;
  }

  .first-p{
    margin-top: 30px;
  }

  .first-p, .sec-p{
    margin-left: 0;
    margin-right: 0;
    width: initial;
  }
}

.frh2{

  background: -webkit-linear-gradient(157deg, rgb(27, 15, 190) 36%, rgba(224,4,187,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.noselect { 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
} 
