:root {
    /* tomato */
    --primary-color: 255, 69, 58;
    /*#ff453a*/
    --hover-primary: 223, 45, 34;
  
    /* white */
    --text-color: 255, 256, 256;
  
    /* gray-f*/
    --secondary-color: 18, 18, 18;
  
    /* gray-w*/
    --body-color-dark: 12, 12, 15;
    /*#1c1c1e*/
    --body-color-dark2: 22, 22, 28;
    /*#16161c*/
    --body-color-dark3: 58,58, 60;
  
    /*green*/
    --text-green-color: 48, 309, 88;
    /*yellow*/
    --text-yellow-color: 255, 214, 10;
    /*red*/
    --text-red-color: 255, 69, 58;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease 0.5s;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff !important;
    color: #16161c;
    margin: 0;
}

  /*      NAVBAR      */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
      font-weight: 700;
      text-transform: lowercase;
  }
  
  header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background 250ms ease-in;
    padding: 9px;
  }

  navbar{
    padding: 9px;
  }
  
  /*        NAVBAR END      */

  .bg-dark{
    background-color: rgb(var(--body-color-dark));
    border-radius: 9px;
    padding: 0px;
    border: solid 1px;
    border-color: rgb(var(--body-color-dark2));
}

.bg-dark:hover{
  border-color: white;
  transition: 0.6s;
}

.bg-dark2{
    background-color: rgb(var(--body-color-dark2));
    border-radius: 9px;
    padding: 0px;
}

.bg-dark2:hover{
  border-color: white;
  transition: 0.6s;
}

.bg-dark3{
    background-color: rgb(var(--body-color-dark3));
    border-radius: 9px;
    padding: 0px;
    border: solid 1px;
    border-color: rgb(var(--body-color-dark3));
}

.bg-dark3:hover{
  border-color: white;
  transition: 0.6s;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(var(--body-color-dark2));
    border-radius: 9px;
}
  
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.box-v{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #16161c;
  padding: 30px;
  width: 90%;
  border-radius: 20px;
}

#sub{
    width: 100%;
    background-color: rgb(52,199,89);
    padding: 10px;
    border:0;
    border-radius: 7px;
    color: white;
}  
 
.admForms h2{
    color:royalblue;
}

.form-control{
    color: #16161c !important;
}