/*      COLORS      */

:root {
    /* tomato */
    --primary-color: 356, 70, 53;  /*#ff4635*/
  
    /* white */
    --text-color: 256, 256, 256;

    /* gray-f*/
    --secondary-color: 40,40,40;

    /* gray-w*/
    --body-color-dark: 50,50,50;
}



/*      REUSABLE CSS        */

::-webkit-scrollbar{
    width: 5px;
}
  
::-webkit-scrollbar-thumb{
    background: rgb(var(--primary-color));
    border-radius: 9px;
}

html{
    scroll-behavior: smooth;
}

*{
    text-align: center;
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(var(--body-color-dark));
    margin: 0;
}

a{
    text-decoration: none;
}

/*      REUSABLE END        */

ul{
    padding-left: 0;
}

li{
    list-style: none;
    margin: 0 0 -1px;
    padding: 12px 20px;
    border:1px solid;
    border-color: #282828;
}

li:hover{
    background-color: rgb(var(--secondary-color))
}

.search__bar{
    font-size: 1.3rem;
    border-radius: 9px;
    border:0;
    background-color: rgb(var(--secondary-color));
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
    margin-top: 2rem;
}

.search__bar:focus{
    border: 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 0.6rem 0.9rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 11px;
    transition: all 0.3s ease;
  }

.btn-glow:hover {
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
  }

  .btn-primary {
    background-color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--text-color));
  }
  

  .sec__title{
      background-color: rgb(var(--secondary-color));
      padding:12px;
      margin-top: 2rem;
      margin-bottom: 1rem;
  }

  @media only screen and (max-width: 613px) {
    .btn{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    li{
        font-size: 15px;
    }
  }



/*      NAVBAR      */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


#header li{
  border: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 3rem;
}
#header ul {
  display: flex;
}

#header ul li {

  list-style: none;
  padding: 10px 15px;
}
#header ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 400;
}

#header li:hover{
    background-color: var(--body-color-dark);
}
#header ul li a:hover {
  border-bottom: 3px solid;
  border-color: rgb(var(--primary-color));
}

#header ul li img {
  margin-right: 30px;
}

.toggle {
  display: none;
}

@media (max-width: 749px) {
  #header ul {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh- 80px);
    padding: 20px;
    overflow: auto;
    background-color: #111;
    flex-direction: column;
    opacity: 0;
  }

  #header {
    background-color: #111;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  #header li{
      border: 0;
      text-align: left;
  }

  #header.active1 ul {
    opacity: 1;
    top: 75px;
  }

  #header ul li a {
    margin: 5px 0;
    font-size: 24px;
    color: #fff;
  }

  .toggle {
    z-index: 2;
    color: var(--primary-color);
    display: block;
    position: relative;
    width: 38px;
    height: 38px;
    background-image: url(../assets/bars.svg);
    cursor: pointer;
  }
  #header.active1 .toggle {
    background-image: url(../assets/times.svg);
    background-repeat: no-repeat;
  }
}

/*        NAVBAR END      */