/*      COLORS      */


:root {
  /* tomato */
  --primary-color: 255, 69, 58;
  /*#ff453a*/

  /* white */
  --text-color: 255, 256, 256;

  /* gray-f*/
  --secondary-color: 18, 18, 18;

  /* gray-w*/
  --body-color-dark: 28, 28, 30;
  /*#1c1c1e*/
  --body-color-dark2: 44, 44, 46;
  /*#2c2c2e*/

  /*green*/
  --text-green-color: 48, 309, 88;
  /*yellow*/
  --text-yellow-color: 255, 214, 10;
  /*red*/
  --text-red-color: 255, 69, 58;
}



/*      REUSABLE CSS        */
.text-green{
  color: rgb(var(--text-green-color));
}
.text-red{
  color: rgb(var(--text-red-color));
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-color));
  border-radius: 9px;
}

html {
  scroll-behavior: smooth;
}

* {
  color: white;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(var(--body-color-dark));
  margin: 0;
}

a {
  text-decoration: none;
}

/*      REUSABLE END        */

#all{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.allcontent{
  text-align: center;
}

ul{
  padding: 0;
}

.my-info-1 li{
    padding-left: 0;
    list-style: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid;
    border-color: #282828;
    transition: 0.5s;
  }

  .enciclopedia li{
    padding-left: 0;
    list-style: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid;
    border-color: #282828;
    transition: 0.5s;
  }
  
  li:first-child{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-top: 0px;
  }
  
  li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   }
  
  li:hover {
    background-color: rgb(var(--secondary-color));
    transition: 0.5s;
  }


.search__bar {
  text-align: center;
  border-radius: 8px;
  border: 0;
  background-color: rgb(var(--secondary-color));
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-color: rgb(var(--primary-color));
  transition: 1s;
}

.search__bar:focus{
  outline: none;
}
.search__bar:focus {
  border: 1px solid;
  border-color: rgb(var(--primary-color));
  border-radius: 19px;
  transition: 1s;
}
.btnn {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0.9rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 11px;
  transition: all 0.3s ease;
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}


.sec__title {
  background-color: rgb(var(--secondary-color));
  padding: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right:20px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.select-area{
  margin-top: 60px;
  background-color: rgb(var(--secondary-color));
  padding: 10px;
  border-bottom: 1px solid rgb(var(--body-color-dark));
  margin-left: 20px;
  margin-right:20px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}


option{
  background-color: #282828;
  border: 0;
}

@media only screen and (max-width: 613px) {

  li {
    font-size: 15px;
  }
}


.hide {
  display: none;
}


/*      NAVBAR      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: "Inter", sans-serif;
}

.logo{
    font-weight: 700;
    text-transform: lowercase;
}

/*        NAVBAR END      */

.info-bg{
  background-color: rgb(var(--body-color-dark2));
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 9px;
  margin-left: 1rem;
}

.borderrr{
  border-radius: 9px;
}
.pointer{
  cursor: pointer;
}

.blur{
  filter:blur(5px)
}

.outline{
  text-decoration:underline;
}

.info-btn{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.5s;
}

.info-btn:hover{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.timeline li:hover{
  background-color: initial;
}
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;

}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(var(--body-color-dark2));
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 65%;
  right: -36.5px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -36.5px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(var(--body-color-dark2));
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(var(--body-color-dark2));
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  border-radius: 12px;
  font-size: 0.8em;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {

	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -6px;
	background: #282828;
	border-radius: 10px;
	border: 4px solid rgb(var(--primary-color));
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -7px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(var(--body-color-dark2));
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(var(--body-color-dark));
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
  z-index: 15;
}

}

@media screen and (min-width: 400px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

@media screen and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
	margin: 1em 4em 0 4em;
}
}

}