/*  START CSS */


    input{
      background-color: rgb(var(--body-color-dark2));
      border: 0;

    }

    .notification{
      background-color: rgb(var(--primary-color));
      padding: 10px;
      border-radius: 0.55rem;
      margin-bottom: 10px;
    }

    .btn{
      padding-left: 25px;
      padding-right: 25px;
    }

    #login-btn{
      border-radius: 0.55rem;
    }

    .form-control{
      background-color: rgb(var(--body-color-dark));
      border: 1px solid ;
      border-color: rgb(var(--body-color-dark2));
      padding: 0.7rem;
      border-radius: 12px;
    }

    

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

    /* .form-control:focus{
      border-color: #eee;
    } */

    .span-war{
      display: none;
    }

    
    .safe-area{
      width: 100%;
      margin: auto;
    }


@media (min-width: 540px) {
      .safe-area{
        width: 50vh;
        
      }
      }

.bg-navbar{
  background-color: #0c0c0f;
}

#reader__dashboard button{
  border: 0;
  padding: 9px;
  background-color: #16161c;
  color:#fff;
  border-radius: 0.55rem;
  margin-bottom: 10px;
}



#qr-shaded-region{
  display: none;
}

video{
  border-radius: 0.55rem;
  padding-top: 5px;
}
