/*      COLORS      */
:root {
    /* tomato */
    --primary-color: 255, 69, 58;
    /*#ff453a*/
    --hover-primary: 223, 45, 34;
  
    /* white */
    --text-color: 255, 256, 256;
  
    /* gray-f*/
    --secondary-color: 18, 18, 18;
  
    /* gray-w*/
    --body-color-dark: 28, 28, 30;
    /*#1c1c1e*/
    --body-color-dark2: 44, 44, 46;
    /*#2c2c2e*/
  
    /*green*/
    --text-green-color: 48, 309, 88;
    /*yellow*/
    --text-yellow-color: 255, 214, 10;
    /*red*/
    --text-red-color: 255, 69, 58;
  }
  
  
  /*      REUSABLE CSS        */
  
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--body-color-dark2));
    border-radius: 9px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(var(--body-color-dark));
    margin: 0;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  
  a:visited {
    color: white;
  }
  
  
  /*      REUSABLE END        */

/*      NAVBAR      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.logo{
    font-weight: 700;
    text-transform: lowercase;
}


/*        NAVBAR END      */
.sec{
    height: 600px;
}
.frh1{
    font-weight: 700;
    font-size: calc(1.775rem + 1.5vw);
}

.main-img{
    margin-top: -10em;
    float: right;
    width: 35rem;
}

.main-icon{
    color: rgb(var(--primary-color));
    font-size: 1.5rem;
}

.main-icon:hover{
    color: rgb(var(--hover-primary));
}

.preview-img{
    width: 20rem;
    border-radius: 9px;
    margin-top: 10px;
}

.sec2{
    text-align: center;
}

.frh2{
    max-width: none;
    font-weight: 700;
}

.container-img{
    height: 300px;
    text-align: center;
}

.imgg{
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-5 {
    margin: 3rem;
  }

.notes-p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.bg-dark2{
    background-color: rgb(var(--body-color-dark2));
    border-radius: 9px;
    padding: 9px;
}

.car{
    display: none;
}

.padding-5 {
    padding: 3rem;
  }
.frh3{
    font-weight: 700;
}

.subtext{
  font-weight: 700;
  color: rgb(var(--primary-color));
}

input{
  padding: 20px;
  border-radius: 9px;
  border: 0;
  background-color: rgb(var(--body-color-dark2));
}

.gobtn:focus{
  border: 0;
}

.login-form{
  width: 40vh;
  font-size: .9rem;
}

.notifi{
  background-color: rgb(var(--primary-color));
  padding: 10px;
  border-radius: 9px;
}

.login-img{
  width: 110vh;
}
.img-res{
  border-radius: 9px;
      border: solid 1px;
      border-color: rgb(var(--primary-color));
}
.img-res2{
  display: none;
}

@media (max-width: 905px){
    .main-img{
        margin-top: 3rem;
    }

    .margin-5{
        margin: 0;
    }

    .car{
        display: block;
    }

    .container-img{
        display: none;
    }

    .padding-5 {
        padding: 2rem !important;
      }

    .frh3{
        font-weight: 700;
        font-size: 1.5rem;
    }

    .margin-5{
        margin: 1rem;
    }

    .img-res{
      display: none;
      
    }

    .img-res2{
      display: initial;
      border-radius: 9px;
      border: solid 1px;
      border-color: rgb(var(--primary-color));
    }
}