:root {
    /* tomato */
    --primary-color: 255,69,58; /*#ff453a*/

    /* white */
    --text-color: 255, 256, 256; 

    /* gray-f*/
    --secondary-color: 18,18,18;

    /* gray-w*/
    --body-color-dark: 28,28,30; /*#1c1c1e*/
    --body-color-dark2: 44,44,46; /*#2c2c2e*/ 

    /*green*/
    --text-green-color: 48,309,88;
    /*yellow*/
    --text-yellow-color:255,214,10;
    /*red*/
    --text-red-color:255,69,58;
}

/*      REUSABLE CSS        */

::-webkit-scrollbar{
    width: 5px;
}
  
::-webkit-scrollbar-thumb{
    background: rgb(var(--primary-color));
    border-radius: 9px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(var(--body-color-dark));
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


a:visited{
    color: white;
}

h1{
    margin: 0;
    padding: 0
}

/*      REUSABLE END        */

/*      NAVBAR      */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif;
  }
  
  .logo{
      font-weight: 700;
      text-transform: lowercase;
  }

  /*        NAVBAR END      */

  /* NOTES STYLE'S*/

.title{
    font-size:3.7rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid;
    border-color: rgb(var(--primary-color));
    font-weight: 700;
    margin-left: 19rem;
    margin-right: 19rem;
}

.tablee{
    z-index: 1;
    width: 100%;
    border-collapse: collapse;
    padding: 0 5px 5px 5px;
}


.tablee td,.tablee th{
     padding:12px 15px;
     border: 1px solid #111;
     text-align: center;
     font-size:16px;
}

.tablee th{
    background-color:rgb(var(--primary-color));
    color:#ffffff;
    font-weight: 500;
}

.tablee tbody tr:nth-child(even){
    background-color: rgb(var(--body-color-dark2));
}

.acima{
    font-size: 14px;
    color: rgb(var(--text-green-color));
    margin-right: 10px;
}

.medio{
    color:rgb(var(--text-yellow-color));
    margin-right: 10px;
    font-size: 14px;
}

.ruim{
    color: rgb(var(--text-red-color));
    margin-right: 10px;
    font-size: 14px;
}

.disable{
    color: #3a3b3d;
}

.m-thead{
    background-color: initial;
}

.description{
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: lighter;
    margin-bottom: 5rem;
}

/*responsive*/

@media(max-width: 749px){

	.tablee thead{
		display: none;
	}

	.tablee, .tablee tbody, .tablee tr, .tablee td{
		display: block;
		width: 100%;
	}
	.tablee tr{
		margin-bottom:15px;
	}
	.tablee td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.tablee td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}

    .tablee tbody tr:nth-child(even){
        background-color: initial;
    }

    .tablee tbody td:nth-child(even){
        background-color: #202020;
    }

    #total{
        background-color: initial;
    }

    .m-thead{
        background-color: rgb(var(--primary-color));
    }

    .title{
        margin-left: 50px;
        margin-right: 50px;
    }

    .description{
        display: block;
    }

}



/*      HOUR'S STYLE*          */

.title{
    text-align: center;
    font-size:3.7rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid;
    border-color: rgb(var(--primary-color));
    padding: 1px;
    
}

.sub__title{
    text-align: center;
    font-size:1.7rem;
    margin-bottom: 2rem;
    color: gray;
}

body{
	margin:0;
	font-family: "Inter" ,sans-serif;
    background-color: rgb(var(--body-color-dark));
}

*{
	box-sizing: border-box;
}

.tablee2{
    z-index: 1;
	width: 100%;
	border-collapse: collapse;
    padding: 0 5px 5px 5px;
    margin-bottom: 5rem;
}

.tablee2 td,.tablee2 th{
  padding:12px 15px;
  border: 1px solid #111;
  text-align: center;
  font-size:16px;
}

.tablee2 th{
	background-color:rgb(var(--primary-color));
	color:#ffffff;
    font-weight: 500;
}

.tr-darknest{
    background-color: rgb(var(--body-color-dark2));
}

#total{
    background-color: royalblue;
}

.acima{
    color: rgb(65, 211, 128);
}

.medio{
    color: #ffc107;
}

.ruim{
    color: red;
}

.disable{
    color: #3a3b3d;
}

.m-thead{
    background-color: initial;
}

.tablee3{
    display: none;
}

/*responsive*/

@media(max-width: 749px){

    .tablee2{
        display: none;
    }

	.tablee2 thead{
		display: none;
	}

	.tablee2, .tablee2 tbody, .tablee2 tr, .tablee2 td{
		width: 100%;
	}
	.tablee2 tr{
		margin-bottom:15px;
	}
	.tablee2 td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.tablee2 td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}

    .tablee2 tbody tr:nth-child(even){
        background-color: initial;
    }

    .tablee2 tbody td:nth-child(even){
        background-color: #202020;
    }

    #total{
        background-color: initial;
    }

    .m-thead{
        background-color: rgb(var(--primary-color));
    }

    .title{
        margin-left: 50px;
        margin-right: 50px;
    }

}


/*          Hour's style(mobile)            */

.tablee3{
    z-index: 1;
	width: 100%;
	border-collapse: collapse;
    padding: 0 5px 5px 5px;

}

.tablee3 td,.tablee3 th{
  padding:12px 15px;
  border: 1px solid #111;
  text-align: center;
  font-size:16px;
}

.tablee3 th{
	background-color:rgb(var(--primary-color));
	color:#ffffff;
    font-weight: 500;
}

.tablee3 tbody tr:nth-child(even){
	background-color: #202020;
}

#total{
    background-color: #0e152c;
}

.acima{
    color: rgb(65, 211, 128);
    padding: 10px;
    margin-bottom: 0.6rem;
}

.medio{
    color: #ffc107;
    padding: 10px;
    margin-bottom: 0.6rem;
}

.ruim{
    color: red;
    padding: 10px;
    margin-bottom: 0.6rem;
}

.disable{
    color: #3a3b3d;
}

.m-thead{
    background-color: initial;
}

.description{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5rem;
}

/*responsive*/

@media(max-width: 749px){

	.tablee3 thead{
		display: none;
	}

	.tablee3, .tablee3 tbody, .tablee3 tr, .tablee3 td{
		display: block;
		width: 100%;
	}
	.tablee3 tr{
		margin-bottom:15px;
	}
	.tablee3 td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;

	}
	.tablee3 td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}

    .tablee3 tbody tr:nth-child(even){
        background-color: initial;
    }

    #total{
        background-color: initial;
    }

    .m-thead{
        background-color: rgb(var(--primary-color));
    }

    .title{
        margin-left: 50px;
        margin-right: 50px;
    }

    .description{
        display: block;
    }

    .acima{
        border-radius: 9px;
        background-color: rgb(var(--body-color-dark2));
    }

    .medio{
        border-radius: 9px;
        background-color: rgb(var(--body-color-dark2));
    }

    .ruim{
        border-radius: 9px;
        background-color: rgb(var(--body-color-dark2));
    }

    .nulo{
        margin-bottom: 0.3rem;
        border-radius: 9px;
        background-color: royalblue;
    }

}

