:root {
  /* tomato */
  --primary-color: 255, 69, 58;
  /*#ff453a*/
  --hover-primary: 223, 45, 34;

  /* white */
  --text-color: 255, 256, 256;

  /* gray-f*/
  --secondary-color: 18, 18, 18;

  /* gray-w*/
  --body-color-dark: 12, 12, 15;
  /*#1c1c1e*/
  --body-color-dark2: 42, 45, 50;
  /*#2c2c2e*/
  --body-color-dark3: 58,58, 60;

  /*green*/
  --text-green-color: 48, 309, 88;
  /*yellow*/
  --text-yellow-color: 255, 214, 10;
  /*red*/
  --text-red-color: 255, 69, 58;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
text-decoration: none !important;
color: inherit !important;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: black;
}

/*      NAVBAR      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
    font-weight: 700;
    text-transform: lowercase;
}

header{
  padding: 9px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 250ms ease-in;
}

/*        NAVBAR END      */

body{
  font-family: 'Inter', sans-serif;
  color: black;
}

.vision{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.marca{
  top: 20px;
  position: absolute;
  text-align: center;
  align-items: middle;
  color: white;
  opacity: 8%;
  z-index: 1;
  font-size: 5.7rem;
  cursor: default;
  user-select: none; 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.cardd{
  background: rgb(2,0,36);
background: linear-gradient(183deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
    border-radius: 8px;
    width: 95mm;
    height: 65mm;
    border: 0;
    position: relative;
    margin:10px;
    color:white;
}



.picture{
  border-radius: 5px;
  width: 30mm;
  height: 40mm;
  margin-top: 3px;
  object-fit: cover;
  margin-left: 2px;
}


.word_one{
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.date{
  font-size: 10px;
  width: 30mm;
  text-align: center;
}

.school{
  position: absolute;
  bottom: 0;
  font-size: 9px;
  font-weight: 700;
  margin-left: 5px;
}

.school p{
  margin: 0;
  padding: 0;
}

#name{
  margin-bottom: -4px;
}

.cardd h1, h2{
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.cardd h2{
  margin-top: -3px;
  font-weight: 700;
}

.info{
  font-size: 11px;
  margin-top: -180px;
  margin-left: 90px;
}

.info li{
  list-style: none;
  font-weight: 700;
}

#curso{
max-width: 140px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.logoluiz{
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}


.qrcode{
    position: absolute;
    right: 5px;
    bottom: 9px;
    border-radius: 0.25rem;
    background-color: white;
    padding: 3px;
}

@media (max-width: 340px) {
  .info{
      font-size: 10px;
  }
  .school{
      font-size: 8px;
      max-width: 180px;
  }
  .cardd h1, h2{
      text-align: center;
      font-size: 13px;
      margin: 0;
  }


}

footer{
  margin-top: 120px;
  position: absolute;
  bottom: 0;
  border-color: #151519;
}


section{
  position: relative;
  height: 600px;
}


.bg-blur2{
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.85);
  outline: #333 solid 1px;
}


.text-clear{
  color: #cccccc;
}

#searchresult, #searchresult2, #searchresult3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box{
position: relative;
}

form.nosubmit {
  border: none;
  padding: 0;
  display: flex;
  height: 40px;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #cccccc;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  border-radius: .55rem;
  transition: 1s;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.accordion-button{
  border-radius: 0.55rem;
}

.accordion-header{
  padding-left: 10px;
  padding-right: 10px;
}


.footer-text{
  font-size: 14px;
  position: absolute;
  bottom:0;
}


button a {
  color: #fff;
  text-transform:uppercase;
  letter-spacing:1px;
  text-decoration: none;
}

/* let's shape */
button span.shape {
  height: 25px;
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
}

button span span {
  content:"";
  position: absolute;
  margin: auto;
  height: 8px;
  width: 2px;
  background: #5c636a;
  opacity: 0;
}

button span span:nth-of-type(1) {
  top: -20px;
  left: 0;
  right: 0;
}

button span span:nth-of-type(2) {
  bottom: -20px;
  left: 0;
  right: 0;
}

button span span:nth-of-type(3) {
  top:0;
  bottom: 0;
  left: -10px;
}

button span span:nth-of-type(4) {
  top:0;
  bottom: 0;
  right: -10px;
}

button span span:nth-of-type(5) {
  top: -20px;
  left: -70%;
  right: 0;
  transform:rotate(-30deg);
}

button span span:nth-of-type(6) {
  top: -20px;
  left: 0;
  right: -70%;
  transform:rotate(30deg);
}

button span span:nth-of-type(7) {
  bottom: -20px;
  right: 0;
  left: -70%;
  transform:rotate(30deg);
}

button span span:nth-of-type(8) {
  bottom: -20px;
  left: 0;
  right: -70%;
  transform:rotate(-30deg);
}

/* let's animate this */
@keyframes bounce {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

button.active {
  animation: bounce 0.3s ease-out 1;
}

button.active span span:nth-of-type(1) {
  animation: anim1 0.4s ease-out 1;
}
button.active span span:nth-of-type(2) {
  animation: anim2 0.4s ease-out 1;
}
button.active span span:nth-of-type(3) {
  animation: anim3 0.4s ease-out 1;
}
button.active span span:nth-of-type(4) {
  animation: anim4 0.4s ease-out 1;
}
button.active span span:nth-of-type(5) {
  animation: anim5 0.4s ease-out 1;
}
button.active span span:nth-of-type(6) {
  animation: anim6 0.4s ease-out 1;
}
button.active span span:nth-of-type(7) {
  animation: anim7 0.4s ease-out 1;
}
button.active span span:nth-of-type(8) {
  animation: anim8 0.4s ease-out 1;
}

@keyframes anim1 {
  0%{transform: scaleY(0.5);opacity: 0;}
  50%{transform: translateY(-10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(-20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim2 {
  0%{transform: scaleY(1);opacity: 0;}
  50%{transform: translateY(10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim3 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim4 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(-10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(-20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim5 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim6 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim7 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim8 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}

.dash-card{
  background-color: #0f1322;
  padding: 20px;
  border-radius: 20px;
  margin-top: 2px;
  color: white;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 15%);
  max-width: 400px;
  width: 100%;
}

.card-t{
  font-weight: 500;
  font-size: 18px;
}

.card-count p{
  font-size: 15px !important; 
}

.card-header{
padding: 0!important;
}

.copy{
background-color: transparent;
border: 0;
color: white;
padding-left: 5px;
}

.uil-image-upload{
position: absolute;
left: 88px;
top: 45px;
font-size: 18px;
background-color: white;
padding: 1px 2px 1px 3px;
border-radius: 5px;
color: black;

}

.vertical-super{
vertical-align: text-bottom;
}

.withBorder{
border-left: 1px solid;
border-right: 1px solid;
border-color: #dee2e6;
}

@media print {
  .cardd {
    float: left;
    margin: 1% 1% 0 50px; /* Ajuste as margens conforme necessário para controlar o espaçamento entre as carteirinhas */
    height: 245px; /* Altura fixa da carteirinha (ajuste conforme necessário) */
    width: 360px; /* Largura fixa da carteirinha (ajuste conforme necessário) */
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .page {
    width: 100%;
    height: 100%; /* Altura da página de impressão (ajuste conforme necessário) */
    page-break-after: always;
  }

  .page-break {
    page-break-before: always;
  }

  .some {
    display: none;
  }
}



