/*      COLORS      */

:root {
  /* tomato */
  --primary-color: 356, 70, 53;

  /* white */
  --text-color: 256, 256, 256;

  /* gray-f*/
  --secondary-color: 40,40,40;

  /* gray-w*/
  --body-color-dark: 50,50,50;
}


/*  CSS REUSABLE */

::-webkit-scrollbar{
  width: 5px;

}

::-webkit-scrollbar-thumb{
  background: #65b47b;
  border-radius: 9px;
}

::-webkit-resizer{
  height: 10px;
}


/*      REUSABLE CSS        */

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: rgb(var(--primary-color));
  border-radius: 9px;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(var(--body-color-dark));
  margin: 0;
  color: var(--text-color);
}

a{
  text-decoration: none;
}

/*      REUSABLE END        */

/* ---------------------------------- FORMS STYLE'S ----------------------------------- */

.formContainer{
  float: right;
}

.formLogo{
  position: absolute;
  left: 648px;
  text-align: center;
  color: white;
  align-items: center;
  top: 3px;
  font-size: 35px;
}

.formLogo:hover{
  background: 0;
  color: #62d181;
}

.formContent{
  color: #eb4b38;
  margin-top: 20px;
  font-size: 14px;
  background-color:#343434 ;
  border-radius: 9px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 7px;
  padding-bottom:7px ;
}

input{
  width: 15em;
  height: 30px;
  border: 0;
  background-color: #404040;
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
  color: white;
  margin-bottom: 30px;
}

.formSubtitle{
  position: absolute;
  left: 30px;
  top: 223px;
  color: white;
}

.formSubtitle2{
  position: absolute;
  left: 30px;
  top: 283px;
  color: white;
}

#anoLetivo{
  width: 340px;
  height: 30px;
  border: 0;
  background-color: #404040;
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
  color: white;
  margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.showPasswordd{
  position: absolute;
  background: 0;
  border: 0;
  top: 135px;
  right: 30px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 4s;
}
.showPasswordd:hover{
  background: none;
  color: #eb4b38;

}

#clickmeLink{
  color: white;
  text-decoration: solid;
}

#clickmeLink:hover{
  background: 0;
  color: #62d181;
}

.container2{
  height: 500px;
  position: relative;
}

.container3{
  height: 600px;
}


/* ------------------------------------- AVA'S PAGE STYLE'S --------------------------------- */
.ct{
  text-align: center;
}

.bd{
  background-color: #282828;
  margin-bottom: 100px;
}

.headerAva{
  z-index: 20;
  background-color: #404040;
  height: 40px;
  width: 100%;
  position: fixed;
  padding-left: 100px;
  padding-right: 100px;
}

.uil-bars{
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: -5px;
  overflow: hidden;
}

.avaTitle{
  text-align: center;
  font-size: 100px;
  padding-top: 40px;
  color: #62d181;
}


.war, .succ{
  margin-right: 40px;
}

.succ{
  margin-left: 40px;
}

.avisosTitle{
  color: white;
}
.avisosSubtitle{
  margin-left: 40px;
  color: white;
  display: block;
  margin-top: 20px;
  padding: 4px;
  border-radius: 9px;
}

.uil-angle-down{
  font-size: 90px;
  color: #62d181;
  text-align: center;
  position: relative;
  left: 630px;
  bottom: 9px;
}

/* LIBRARY STYLE'S*/
